@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
}

.bg-main {
    background: linear-gradient(138.07deg, #174382 9.54%, #CB132F 114.53%);
    background-image: url('./images/bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 100px;
}

.custom__px-main {
    padding-left: calc(40px + (100 - 40) * ((100vw - 320px) / (1600 - 320)));
    padding-right: calc(40px + (100 - 40) * ((100vw - 320px) / (1600 - 320)));
}

.custom__py-main {
    padding-top: calc(20px + (80 - 20) * ((100vw - 320px) / (1600 - 320)));
    padding-bottom: calc(40px + (220 - 40) * ((100vw - 320px) / (1600 - 320)));
}

.logo {
    width: calc(115px + (270 - 115) * ((100vw - 320px) / (1600 - 320)));
}

h1 {
    font-size: calc(18px + (52 - 18) * ((100vw - 320px) / (1600 - 320)));
    line-height: calc(27px + (65 - 27) * ((100vw - 320px) / (1600 - 320)));
}

h6 {
    font-size: calc(12px + (24 - 12) * ((100vw - 320px) / (1600 - 320)));
    line-height: calc(16px + (24 - 16) * ((100vw - 320px) / (1600 - 320)));
}

p {
    font-size: calc(10px + (24 - 10) * ((100vw - 320px) / (1600 - 320)));
}

.small {
    font-size: calc(10px + (20 - 10) * ((100vw - 320px) / (1600 - 320)));
}

.btn {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    font-size: calc(8px + (24 - 8) * ((100vw - 320px) / (1600 - 320)));
    font-weight: 500;
    height: calc(34px + (80 - 34) * ((100vw - 320px) / (1600 - 320)));
    border: 0;
}

.custom__bg-dark {
    background: #101125;
}

.form-control {
    height: calc(34px + (80 - 34) * ((100vw - 320px) / (1600 - 320)));
    font-size: calc(10px + (24 - 10) * ((100vw - 320px) / (1600 - 320)));
}

.form-control::placeholder {
    font-size: calc(10px + (24 - 10) * ((100vw - 320px) / (1600 - 320)));
}

.btn-primary {
    background: #174382;
}

.btn-primary:hover {
    background: #123a72;
}

.mt-rev {
    margin-top: -50px;
}

.mt-rev-sm {
    margin-top: calc(-200px + (-120 + 200) * ((100vw - 320px) / (576 - 320)));
}

.pos-rel {
    position: relative;
}

.flex-1 {
    flex: 1 1 0;
    background-color: #fff;
}

.d-trans {
    opacity: 0;
}

.bgs {
    position: absolute;
    top: 0;
    left: calc(-100px + (100 + 100) * ((100vw - 320px) / (1600 - 320)));
    width: 82vw;
    height: 50%;
}

.pos-abs {
    position: absolute;
}

.box {
    transform: rotate(-45deg);
}

.box-lg {
    width: calc(140px + (460 - 140) * ((100vw - 320px) / (1600 - 320)));
    height: calc(20px + (70 - 20) * ((100vw - 320px) / (1600 - 320)));
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    
}

.box-sm {
    width: calc(40px + (140 - 40) * ((100vw - 320px) / (1600 - 320)));
    height: calc(3px + (10 - 3) * ((100vw - 320px) / (1600 - 320)));
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    
}

.index-0 {
    z-index: 0;
}

.index-1 {
    z-index: 5;
    position: relative;
}

.inf {
    opacity: 0;
    animation: inf 1.5s infinite alternate;
}

.off {
    position: absolute;
    left: calc(-5px + (-15 + 5) * ((100vw - 320px) / (1600 - 320)));
    z-index: 2;
    height: inherit;
    border-radius: 10px;
    width: 110%;
    height: 0%;
}

.phone img, .phone video {
    height: calc(200px + (500 - 200) * ((100vw - 320px) / (1600 - 320)));
}

.front {
    z-index: 1;
    position: relative;
    border-radius: calc(15px + (30 - 15) * ((100vw - 320px) / (1600 - 320)));
}

.back {
    position: absolute;
    top: 0;
    left: calc(80px + (220 - 80) * ((100vw - 320px) / (1600 - 320)));
    margin-top: calc(30px + (80 - 30) * ((100vw - 320px) / (1600 - 320)));
    z-index: 0;
}

@keyframes inf {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#modal__img {
    cursor: pointer;
}

.modal__block {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(6px);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    display: none;
    animation: fade .6s;
}


@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.unfade {
    animation: unfade .6s;
}

@keyframes unfade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.modal__block-img {
    width: 70%;
    background-color: #fff;
}

.close {
    position: absolute;
    right: 40px;
    top: 30px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}

@media screen and (min-width:768px) {
    .bg-main {
        background-size: cover;
        background-position: center center;
    }

    .text-lg-light {
        color: #ffffff;
    }

    .features {
        background: #FFFFFF;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
        position: relative;
        top: calc(-75px + (-135 + 75) * ((100vw - 768px) / (1219 - 768)));
        margin-bottom: calc(-10px + (-60 + 10) * ((100vw - 768px) / (1219 - 768)));
    }

    .mt-rev {
        margin-top: 0px;
    }

    .vh-md-100 {
        height: 100vh;
    }

    .d-trans {
        opacity: 1;
    }

    .bgs {
        height: 100%;
    }
}